In [1]:
number = 123456

In [2]:
split_number = number % 10
print(split_number)

6

In [3]:
n = number / 10
print(n)
n = number // 10
print(n)

12345.6
12345

In [4]:
number = number // 10
print(number)

12345

In [5]:
total = 0
total = total + split_number
print(total)

6

In [6]:
split_number = number % 10
number = number // 10
print('split_number {}'.format(split_number))
total = total + split_number
print('total {}'.format(total))

split_number 5
total 11

In [7]:
split_number = number % 10
number = number // 10
print('split_number {}'.format(split_number))
total = total + split_number
print('total {}'.format(total))

split_number 4
total 15

In [8]:
split_number = number % 10
number = number // 10
print('split_number {}'.format(split_number))
total = total + split_number
print('total {}'.format(total))

split_number 3
total 18

In [9]:
split_number = number % 10
number = number // 10
print('split_number {}'.format(split_number))
total = total + split_number
print('total {}'.format(total))

split_number 2
total 20

In [10]:
split_number = number % 10
number = number // 10
print('split_number {}'.format(split_number))
total = total + split_number
print('total {}'.format(total))

split_number 1
total 21

In [11]:
number = 123456
total = 0
for i in range(6):
    split_number = number % 10
    number = number // 10
    print('split_number {}'.format(split_number))
    total = total + split_number
    print('total {}'.format(total))
    pass

split_number 6
total 6
split_number 5
total 11
split_number 4
total 15
split_number 3
total 18
split_number 2
total 20
split_number 1
total 21

In [12]:
number = 12345678
total = 0
while True:
    split_number = number % 10
    if split_number == 0:
        break
    number = number // 10
    print('split_number {}'.format(split_number))
    total = total + split_number
    print('total {}'.format(total))
    pass

split_number 8
total 8
split_number 7
total 15
split_number 6
total 21
split_number 5
total 26
split_number 4
total 30
split_number 3
total 33
split_number 2
total 35
split_number 1
total 36

In [13]:
my_list = [10,5,9]
my_list.append(1)
my_list

[10, 5, 9, 1]

In [14]:
my_list[1]

5

In [15]:
my_list[1] = 50
my_list[1]

50

In [16]:
del my_list[3]
my_list

[10, 50, 9]

In [17]:
my_list.append(29)
my_list

[10, 50, 9, 29]

In [18]:
my_list.remove(29)
my_list

[10, 50, 9]

In [19]:
my_list.reverse()
my_list

[9, 50, 10]

In [20]:
my_list.sort()
my_list

[9, 10, 50]

In [21]:
my_list.sort(reverse=True)
my_list

[50, 10, 9]

In [22]:
welcome = " Hello World! "
welcome.strip()

'Hello World!'

In [23]:
welcome*2

' Hello World!  Hello World! '

In [24]:
welcome

' Hello World! '

In [25]:
int("43")

43

In [26]:
float("43.5")

43.5

In [27]:
str(34.256)

'34.256'

In [28]:
import random
for _ in range(10):
    num1 = random.randrange(3)
    print(num1)

2
1
1
1
1
1
1
2
0
2

In [29]:
a = random.sample(my_list,1)
print(a)

[10]

In [30]:
his_list = ['A','B','C']
b = random.choice(his_list)
print(b)

B

In [31]:
from datetime import datetime
datenow = datetime.now()
print(datenow)

2019-10-25 11:12:56.832945

In [32]:
print("current datetime is {}".format(datenow))
print("current datetime is {:%Y/%m/%d %H:%M:%S}".format(datenow))

current datetime is 2019-10-25 11:12:56.832945
current datetime is 2019/10/25 11:12:56

In [33]:
my_dict = {'a':1,'b':2,'c':3}
my_dict

{'a': 1, 'b': 2, 'c': 3}

In [34]:
my_dict['d'] = 4
my_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [35]:
del my_dict['d']
my_dict

{'a': 1, 'b': 2, 'c': 3}

In [36]:
my_dict['a'] = 10
my_dict

{'a': 10, 'b': 2, 'c': 3}

In [37]:
m_items = my_dict.items()
for temp in m_items:
    (i,j) = temp
    print(i)
    print(j)

a
10
b
2
c
3

In [38]:
k = my_dict.keys()
print(k)

dict_keys(['a', 'b', 'c'])

In [39]:
v = my_dict.values()
print(v)

dict_values([10, 2, 3])

In [40]:
file = open('data/Abc1115.csv')
lines = file.readlines()

# print(line[:-2])
file.close()

In [41]:
with open('data/Abc1115_2.copy','w') as f:
    for line in lines:
        f.write("{}\n".format(line[:-2]))
    pass

In [42]:
import pandas as pd
data = pd.read_csv("data/Abc1115.csv",header=None)
df = pd.DataFrame(data)
df.shape
df.head(3)

       0     1   2   3   4   5   6    7  8  9  10
0  990001  addx  17  29  16  49  43  154  C  A  C
1  990002  stch  30   9  48  25  81  193  C  A  A
2  990003  gali  93  60   6  84  36  279  A  C  A