In [1]:
number = 123456

In [2]:
print(number)

123456

In [4]:
split_number = number % 10
print(split_number)

6

In [5]:
#누적
total = 0
total = total + split_number
print(total)

6

In [10]:
number = number // 10
print(number)

12

In [11]:
number = 12345

In [12]:
split_number = number % 10
print(split_number)
total = total + split_number
number = number // 10

5
1234

In [13]:
split_number = number % 10
print(split_number)
total = total + split_number
number = number // 10

4

In [14]:
split_number = number % 10
print(split_number)
total = total + split_number
print(total)
number = number // 10
print(number)

3
18
12

In [15]:
split_number = number % 10
print(split_number)
total = total + split_number
print(total)
number = number // 10
print(number)

2
20
1

In [16]:
split_number = number % 10
print(split_number)
total = total + split_number
print(total)
number = number // 10
print(number)

1
21
0

In [18]:
number = 123456
total = 0
for i in range(6):
    split_number = number % 10
    print(split_number)
    total = total + split_number
    number = number // 10
    pass
print(total)

6
5
4
3
2
1
21

In [19]:
def calcu_total(number):
    total=0
    for i in range(6):
        split_number = number % 10
#         print(split_number)
        total = total + split_number
        number = number // 10
    return total

In [21]:
result = calcu_total(123456)
print(result)

21

In [22]:
my_list = [10, 5, 9]
my_list

[10, 5, 9]

In [23]:
my_list[0]

10

In [24]:
my_list.append(1)
my_list

[10, 5, 9, 1]

In [25]:
my_list[1] = 50
my_list

[10, 50, 9, 1]

In [26]:
del my_list[3]
my_list

[10, 50, 9]

In [27]:
my_list.remove(1)
my_list

ValueError: list.remove(x): x not in list

In [28]:
my_list.remove(9)
my_list

[10, 50]

In [29]:
for num in my_list:
    print(num)
    pass

10
50

In [30]:
my_dic = {'a':1, 'b':2, 'c':3, 'd':4}
my_dic

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [33]:
my_dic['a']

1

In [34]:
my_dic['e'] = 5
my_dic

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [35]:
my_dic['a'] = 10
my_dic

{'a': 10, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [36]:
del my_dic['e']
print(my_dic)

{'a': 10, 'b': 2, 'c': 3, 'd': 4}

In [37]:
my_dic.key()

AttributeError: 'dict' object has no attribute 'key'

In [38]:
my_dic.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [40]:
my_dic.values()

dict_values([10, 2, 3, 4])

In [41]:
my_dic.items()

dict_items([('a', 10), ('b', 2), ('c', 3), ('d', 4)])

In [47]:
str = " Hello, world!"
for letter in str:
    print(letter,end=' ')
    pass

  H e l l o ,   w o r l d !

In [48]:
str.strip()

'Hello, world!'

In [49]:
str[-1]

'!'

In [50]:
a = '43'
int(a)

43

In [51]:
b='43.3'
float(b)

43.3

In [56]:
file = open('../data/Abc1115.csv','r')

In [63]:
file = open('../data/Abc1115.csv','r')

In [64]:
lines = file.readlines()
file.close()

In [90]:
print(lines[0:1])
line = lines[0]
print(line)
line = line[0:-1]

['990001,addx,17,29,16,49,43,154,C,A,C\n']
990001,addx,17,29,16,49,43,154,C,A,C

In [91]:
student = []

In [92]:
student = line.split(",")

In [93]:
students.append(student)
students

['990001',
 'addx',
 '17',
 '29',
 '16',
 '49',
 '43',
 '154',
 'C',
 'A',
 'C',
 ['990001', 'addx', '17', '29', '16', '49', '43', '154', 'C', 'A', 'C\n'],
 ['990001', 'addx', '17', '29', '16', '49', '43', '154', 'C', 'A', 'C'],
 ['990001', 'addx', '17', '29', '16', '49', '43', '154', 'C', 'A', 'C']]

In [95]:
students = []
for line in lines:
    line = line[0:-1]
    temp = line.split(',')
#     print(temp)
    students.append(temp)
#     break
    pass

In [97]:
students[0:5]

[['990001', 'addx', '17', '29', '16', '49', '43', '154', 'C', 'A', 'C'],
 ['990002', 'stch', '30', '9', '48', '25', '81', '193', 'C', 'A', 'A'],
 ['990003', 'gali', '93', '60', '6', '84', '36', '279', 'A', 'C', 'A'],
 ['990004', 'miat', '73', '22', '48', '24', '72', '239', 'B', 'C', 'C'],
 ['990005', 'oran', '33', '38', '59', '58', '28', '216', 'C', 'B', 'A']]